<div class="row">
  <div class="col-5">
    <p class="float-end p-1">Appointment Date & Time</p>
  </div>
  <div class="col-7">
    <%= tag.h3 @appointment.datetime %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <p class="float-end p-1">Service</p>
  </div>
  <div class="col-7">
    <%= tag.h3 @appointment.service %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <p class="float-end p-1">Purpose</p>
  </div>
  <div class="col-7">
    <%= tag.h3 @appointment.purpose %>
  </div>
</div>
<div class="row text-center border-top border-dark mt-3 pt-3">
  <p class="m-0 p-0">Appointment Requested by</p>
  <p class="m-0 p-0"><%= Current.customer.customer_detail.full_name %></p>
  <p class="m-0 p-0"><%= Current.customer.customer_detail.contact_number %></p>
  <p class="m-0 p-0"><%= Current.customer.customer_detail.email %></p>
</div>