<%= render "navbar" %>

<div class="dashboard-content">
  <h1 class="m-4 fw-bold">Appointment Request Form</h1>
  <div class="appointment-form">
    <%= form_with(model: Appointment, url: "/confirm") do |form| %>
      <div class="row">
        <div class="col">
          First Name
          <input class="form-control text-center" value="<%= Current.customer.customer_detail.first_name.capitalize %>" disabled readonly>
        </div>
        <div class="col">
          Last Name
          <input class="form-control text-center" value="<%= Current.customer.customer_detail.last_name.capitalize %>" disabled readonly>
        </div>
      </div>
      Email
      <input class="form-control text-center" value="<%= Current.customer.customer_detail.email %>" disabled readonly>
      Contact no.
      <input class="form-control text-center" value="<%= Current.customer.customer_detail.contact_number %>" disabled readonly>

      <div class="row">
        <div class="col" style="width: 50%">
          <label for="inline-form-name">Date & Time</label>
          <%= form.datetime_field :datetime, class: "to-fill form-control text-center" %>
        </div>
      </div>

      <label for="inline-form-name">Service</label>
      <div class="input-group mb-1">
        <%= form.select :service, options_for_select(Service.all.collect{ |s| [s.name]}), {}, {class: "form-select to-fill p-2"} %>
      </div>

      <div>
        <label for="inline-form-name">Purpose</label>
        <%= form.text_area :purpose, class: "form-control to-fill" %>
      </div>

      <%= form.hidden_field :customer_id, value: Current.customer.id %>

      <div class="text-center">
        <div class="text-center">
          <%= form.submit "Submit Request", class: "ca-button btn btn-primary p-3 my-3", data: { turbo_frame: "remote_modal" } %>
          <button type="Reset" class="col-auto mx-1 btn btn-secondary">Reset</button>
        </div>
      </div>
    <% end %>
  </div>