<!-- if not logged in, show login and signup button -->
  <% if Current.customer.nil? %>
    <span class="account_buttons m-3 position-fixed end-0">
        <button class="login fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#login">Log In</button>
        <button class="signup fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</button>
    </span>
  <% else %>
    <!-- else, if logged in, show dropdown for user options -->
    <div class="dropdown float-end m-3">
      <button class="user-dropdown text-light dropdown-toggle fw-bold" type="button" data-hover="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Welcome, <%= Current.customer.customer_detail.full_name.titleize %>
      </button>
      <ul class="dropdown-menu text-center">
        <li><%= link_to "My Appointments", dashboard_path(:src => pending_path), class: "dropdown-item" %></li>
        <li><%= link_to "Request an Appointment", dashboard_path(:src => request_path), class: "dropdown-item" %></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><%= link_to "Log out", logout_path, class: "dropdown-item" %></li>
      </ul>
    </div>
  <% end %>

  <!-- modal for login -->
  <div class="modal fade" tabindex="-1" id="login">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100">Sign in to your account.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container login-modal mt-5">
          <!-- render the login partial -->
          <div class="position-relative top-0 start-50 translate-middle"><%= render "login" %></div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal for signup -->
  <div class="modal fade" tabindex="-1" id="signup">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100">Create an account.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container signup-modal mt-5">
          <!-- render the registration partial -->
          <div class="position-relative top-0 start-50 translate-middle"><%= render "signup" %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid position-fixed">
    <%= link_to "Request an Appointment", request_path, class: "reqbutton fw-bold position-relative" %>
  </div>

  <div class="titlediv container-fluid position-fixed">
    <div class="welcome-text position-relative">
      <h1 class="fablab-title text-light mb-0">FabLab</h1>
      <h3 class="fablab-text d-flex text-light mt-0">Where creativity is converted to fabulous fabrication.</h3>
    </div>
  <div>

  

  